<ion-content padding>
    <img src="../assets/logo-lg.png">
	<form class="form" [formGroup]="validations_form" (ngSubmit)="loginUser(validations_form.value)">
		<ion-item>
			<ion-label position="left" color="primary">
				Correo:
			</ion-label>
			<ion-input type="text" formControlName="email">
			</ion-input>
		</ion-item>
		<div class="validation-error">
			<ng-container *ngFor="let validation of validation_messages.email">
				<div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type)&&(validations_form.get('email').dirty||validations_form.get('email').touched)">
					{{validation.message}}
					
				</div>
			</ng-container>
		</div>

		<ion-item>
			<ion-label position="left" color="primary">
				Contraseña:
			</ion-label>
			<ion-input type="password" formControlName="password">
			</ion-input>

		</ion-item>
		<div class="validation-error">
			<ng-container *ngFor="let validation of validation_messages.password">
				<div class="error-message" *ngIf="validations_form.get('password').hasError(validation.type)&&(validations_form.get('password').dirty||validations_form.get('password').touched)">
					{{validation.message}}
					
				</div>
			</ng-container>
		</div>
		<button ion-button class="submit-btn" class="login" type="submit" [disabled]="!validations_form.valid">Iniciar Sesion
    </button>
    <button ion-button class="salir"  routerLink="/" >Salir</button>
    <br>
		<label class="error-message">
			{{errorMessage}}
		</label>

		
	</form>
</ion-content>