<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Inicio <ion-icon name="person" routerLink="/login" class="login" ></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/" alt="" />
      <ion-card-header>
        <ion-card-title>Bienvenidos a BioBak</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Esta aplicación facilita los datos necesarios para la complementación de la información básica de las especies de <b>flora y fauna</b> en el Municipio de Bacalar </p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Eventos</ion-label>
      </ion-list-header>
    </ion-list>
</ion-content>
