<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Panel Control <ion-icon name="power" (click)="logout()" class="logout" ></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>
    <ion-chip outline color="primary" [routerLink]="['/listflora']">
      <ion-icon name="rose"></ion-icon>
      <ion-label>Flora</ion-label>
    </ion-chip>
    <ion-chip outline color="dark">
      <ion-icon name="person"></ion-icon>
      <ion-label>Usuarios</ion-label>
    </ion-chip>
    <ion-chip outline color="secondary">
      <ion-icon name="bug"></ion-icon>
      <ion-label>Fauna</ion-label>
    </ion-chip>
    <ion-chip outline color="tertiary">
      <ion-icon name="globe"></ion-icon>
      <ion-label>Eventos</ion-label>
    </ion-chip>
  </p>
</ion-content>